---
import { motion } from 'framer-motion';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faClock } from '@fortawesome/pro-regular-svg-icons';

interface Props {
  date: Date;
}

const { date } = Astro.props;
const formattedDate = date.toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
});
---

<motion.div
  initial={{ opacity: 0 }}
  animate={{ opacity: 1 }}
  transition={{ duration: 0.5, ease: 'easeInOut' }}
  className="flex items-center gap-3"
  client:load
>
  <FontAwesomeIcon icon={faClock} className="text-accent animate-pulse" size="lg" />
  <time datetime={date.toISOString()} class="text-gray-dark text-lg font-medium">
    <span class="sr-only">Published on {formattedDate}</span>
    {formattedDate}
  </time>
</motion.div>